<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lebenslauf {{Name}}</title>
    <link rel="stylesheet" href="style.css">
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="./style.css">

<body id="app">
    <div class="flex flex-col max-w-5xl mx-auto">
        <div class="flex flex-row justify-start bg-zinc-100 gap-1 px-1 print:mx-1 max-h-52 
             border border-opacity-30 rounded-2xl items-center my-16 print:my-3 drop-shadow-xl">

            <div class="overflow-hidden  rounded-2xl max-h-52 print:h-44">
                <img src="{{file}}"
                    class="rounded-full ring-4 ring-offset-2 ring-emerald-700 w-96 print:w-80 -ml-12 print:-ml-9 -mt-5" />

            </div>
            <div class="flex flex-col gap-4 text-sm w-full print:gap-2">
                <h2>{{Name}}</h2>
                <div>

                    <div class="font-bold text-2xl">{{Beruf}}</div>
                    <div class="text-zinc-700">geboren am {{Geburtstag}} in {{Geburtsort}}</div>

                </div>

                <div class="flex flex-row mt-4 items-center justify-start gap-5 mr-8 stroke-[1.5] stroke-zinc-700 fill-none
                     text-zinc-600  opacity-75">
                    <div class="flex flex-row gap-1 justify-start items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-at" width="16"
                            height="16" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="12" cy="12" r="4" />
                            <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28" />
                        </svg>
                        <a href="mailto:{{Kontakt.Email}}" target="_blank" rel="noopener noreferrer">
                            {{Kontakt.Email}}
                        </a>
                    </div>
                    <div class="flex flex-row gap-1 justify-start items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call"
                            width="16" height="16" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                            <path d="M15 7a2 2 0 0 1 2 2" />
                            <path d="M15 3a6 6 0 0 1 6 6" />
                        </svg>
                        <a href="tel:{{Kontakt.Telefon}}" target="_blank" rel="noopener noreferrer">
                            {{Kontakt.Telefon}}
                        </a>
                    </div>
                    <div class="flex flex-row gap-1 justify-start items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                            width="16" height="16" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="4" y="4" width="16" height="16" rx="2" />
                            <line x1="8" y1="11" x2="8" y2="16" />
                            <line x1="8" y1="8" x2="8" y2="8.01" />
                            <line x1="12" y1="16" x2="12" y2="11" />
                            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                        </svg>
                        <a href="{{Kontakt.LinkedIn}}" target="_blank" rel="noopener noreferrer">
                            LinkedIn</a>
                    </div>
                    <div class="flex flex-row gap-1 justify-start items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="16"
                            height="16" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5" />
                            <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5" />
                        </svg>
                        <a href="{{Kontakt.Website}}" target="_blank" rel="noopener noreferrer">
                            {{Kontakt.Website}}</a>
                    </div>
                </div>




            </div>
        </div>
        <h3 class="container whitespace-nowrap mx-auto mt-8 mb-5 max-w-5xl flex flex-row gap-3 items-baseline self-stretch 
    after:bg-gradient-to-r after:from-lime-500 after:to-emerald-800 font-extrabold after:w-full after:h-px after:content-['']
    print:mb-0">
            Berufserfahrung
        </h3>

        <div class="container mx-auto max-w-5xl">
            {{#each Berufserfahrung}}
            <div class="break-inside-avoid">
                <div class="text-zinc-700 opacity-60 mb-1 mt-8 ml-1">| {{#unless Ende}}seit {{/unless}}{{Start}}
                    {{#if
                    Ende}}bis
                    {{Ende}}{{/if}}</div>
                <div class="font-bold text-lg">{{Position}}</div>
                <div class="text-emerald-700 mb-1">{{Firma}} &#8226; {{Ort}}</div>
                <h4 class="my-3"></h4>
                <ul class="list-disc list-outside ml-5">
                    {{#each Aufgaben}}
                    <li class="leading-6">
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
        <h3 class="container whitespace-nowrap mx-auto mt-8 mb-5 max-w-5xl flex flex-row gap-3 items-baseline self-stretch 
            after:bg-gradient-to-r after:from-lime-500 after:to-emerald-800 font-extrabold after:w-full after:h-px after:content-['']
            print:mb-0 print:mt-10">
            Ausbildung
        </h3>

        <div class="container mx-auto max-w-5xl">
            {{#each Ausbildung}}
            <div class="break-inside-avoid">
                <div class="text-neutral-700 opacity-60 mb-1 mt-8 ml-1">| {{#unless
                    Ende}}seit {{/unless}}{{Start}} {{#if
                    Ende}}bis
                    {{Ende}}{{/if}}</div>
                <div class="flex flex-row items-baseline justify-between">
                    <div class="font-bold text-lg">{{Ausbildung}}</div>
                    <div class="italic">{{#if Abschlussnote}}<span
                            class="text-xs opacity-50 mr-2">Abschlussnote:</span>{{Abschlussnote}}{{else}}ohne
                        Abschluss{{/if}}
                    </div>
                </div>
                <div class="text-emerald-700 mb-1">{{Ausbildungsstätte}} &#8226; {{Ort}}</div>

                <h4 class="my-3"></h4>
                <ul class="list-disc list-outside ml-5">
                    {{#each Inhalte}}
                    <li class="leading-6">
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>

        <h3 class="container whitespace-nowrap mx-auto mt-8 mb-5 max-w-5xl flex flex-row gap-3 items-baseline self-stretch 
            after:bg-gradient-to-r after:from-lime-500 after:to-emerald-800 font-extrabold after:w-full after:h-px after:content-['']
            print:mb-0">
            Kenntnisse &amp; Fähigkeiten
        </h3>
        <div class="container mx-auto max-w-5xl flex flex-col gap-1 stroke-[1.5] stroke-zinc-500 text-sm">
            {{#each Kenntnisse}}
            <div class="font-bold text-lg">{{@key}}</div>
            <div class="grid mb-5 grid-cols-4 gap-1 items-center break-inside-avoid">
                {{#each this}}
                <div class="grid grid-cols-2 justify-start gap-1 items-center">
                    <div>{{@key}}</div>
                    <div class="flex flex-row gap-0">
                        {{#repeat this}}
                        <div class="fill-zinc-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle"
                                width="16" height="16" viewBox="0 0 24 24" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="12" cy="12" r="9" />
                            </svg>
                        </div>
                        {{/repeat}}
                        {{#repeat (subtract 5 this)}}
                        <div class="fill-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle"
                                width="16" height="16" viewBox="0 0 24 24" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="12" cy="12" r="9" />
                            </svg>
                        </div>
                        {{/repeat}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
        <h3 class="container whitespace-nowrap mx-auto mt-8 mb-5 max-w-5xl flex flex-row gap-3 items-baseline self-stretch 
            after:bg-gradient-to-r after:from-lime-500 after:to-emerald-800 font-extrabold after:w-full after:h-px after:content-['']
            print:mb-0">
            Projekte
        </h3>
        <div class="container mx-auto max-w-5xl">
            {{#each Projekte}}
            <div class="break-inside-avoid">
                <div class="text-neutral-700 opacity-60 mb-1 mt-8 ml-1">| {{#unless
                    Ende}}seit {{/unless}}{{Start}} {{#if
                    Ende}}bis
                    {{Ende}}{{/if}}</div>
                <div class="font-bold text-lg">{{Name}}</div>
                <div class="text-emerald-700 mb-1">{{Kunde}}</div>
                <div class="flex flex-row gap-1 flex-wrap">
                    {{#each Kenntnisse}}
                    <div class="whitespace-nowrap inline-flex rounded-md font-semibold text-white bg-emerald-700 
                                        bg-opacity-70
                                        outline outline-1 py-1 px-2 text-xs">
                        {{this}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    {{markdown Beschreibung}}
                </div>
            </div>
            {{/each}}
        </div>
        {{!-- <div class="w-full pt-1 border-t print:opacity-70 hidden print:inline-block print:fixed print:bottom-0">
            Lebenslauf {{Name}}
        </div> --}}
</body>

</html>